@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply bg-black scrollbar-hide
  }
}

@layer components{
  .tag {
    @apply py-1.5 rounded-lg text-xs font-bold bg-[#282828] text-[#cecece] border-2 p-1.5 border-[#484848]
  }
  .genre {
    @apply bg-[#101010] text-[#CECECE] border border-[#484848] rounded-xl py-2.5 px-3.5 text-[11px] font-bold cursor-default bg-opacity-90 hover:bg-opacity-100 transition ease-out
   }
  .btn {
    @apply text-[#CECECE] bg-[#1A1A1A] text-[13px] py-3.5 px-[100px] rounded-2xl w-full cursor-pointer font-bold bg-opacity-80 hover:bg-opacity-100 transition ease-out
  }
  .icon {
    @apply hover:scale-125 transition ease-out
  }

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
